/* Сброс отступов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: monospace;
  line-height: 1.4;
}

/* Header */
.header {
  width: 100%;
}

.container {
  width: 100%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  background-color: black;
}

.nav__link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

/* Логотип */
.logo img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  display: block;
  background-color: black;
}

/* Блок about */
.about {
  color: aliceblue;
  padding: 20px;
  columns: 3 200px;
  column-gap: 20px;
}

/* Игра */
#fsociety-game {
  margin: 40px auto;
  text-align: center;
  max-width: 900px;
}

#game {
  display: block;
  margin: 0 auto;
  background: black;
  cursor: pointer;
   border: 2px solid white !important;
}

/* 9 блоков */
.blocks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.block {
  background: #111;
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

.block img {
  width: 100%;
  height: 150px;
  object-fit: contain; /* уменьшается без обрезки */
  margin-bottom: 10px;
}

.block p {
  color: white;
  font-size: 14px;
}

/* Футер */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid white;
  font-size: 14px;
}
